*{
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
#main{
        width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
#imgs{
    width: 30%;
    height: 50%;
    background-image:url(./three-wise-men-9991084.jpg) ;
    /* object-fit: cover; */
    background-size: cover;
    background-position: center;
      display: flex;
    align-items: center;
    justify-content: center;
    color: azure;
    }
    .baby{
        position: absolute;
        top: 80%;
        left: 45%;

    }